<div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__heading">Ready to Get Started</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione ut saepe expedita ducimus odio, amet dolorum cumque blanditiis eos delectus mollitia reprehenderit nulla reiciendis quis rem minus culpa non ipsam?</p>
      </div>
      <a href="" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
  </div>