<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="src/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
      <h3 class="media__title">Easy Start & Manged Updates</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis incidunt, sit distinctio dolore suscipit a numquam veritatis quidem ducimus provident temporibus totam accusamus, debitis assumenda, modi eaque. Necessitatibus, obcaecati dolore!</p>
    </div>
  </div>